/* General styles for boxes */
.boxes {
  display: flex;
  justify-content: center; /* Center-align boxes */
  align-items: center; /* Center-align items */
  gap: 10px; /* Reduced gap for mobile */
  margin-top: 20px;
  padding: 1rem 0; /* Reduced padding for mobile */
}

/* Individual box */
.box {
  position: relative;
  flex: 1;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  width: 90%; /* Full width for mobile */
  margin: 0 auto; /* Center-align boxes */
}

.box img {
  width: 40px; /* Adjusted icon size for mobile */
  height: 40px;
  margin-bottom: 10px;
}

.box h3 {
  font-size: 1.25rem; /* Adjusted font size for mobile */
  margin: 10px 0;
  color: #1c2c83;
  font-weight: bolder;
}

.box p {
  font-size: 0.9rem; /* Adjusted font size for mobile */
  color: #cccccc;
  line-height: 1.5;
}

/* Desktop styles */
@media (min-width: 769px) {
  .boxes {
    flex-direction: row; /* Display boxes in a row for desktop */
  }

  .box:not(:last-child) {
    border-right: 2px solid #2c46d8; /* Add right border for desktop */
    border-bottom: none; /* Remove bottom border for desktop */
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .boxes {
    flex-direction: column; /* Stack boxes vertically on mobile */
  }

  .box:not(:last-child) {
    border-bottom: 2px solid #2c46d8; /* Add bottom border for mobile */
    border-right: none; /* Remove right border for mobile */
  }

  .box {
    width: 100%; /* Full width for mobile */
  }

  .box h3 {
    font-size: 1.1rem; /* Smaller font size for smaller screens */
  }

  .box p {
    font-size: 0.85rem; /* Smaller font size for smaller screens */
  }
}

/* Further adjustments for very small screens */
@media (max-width: 480px) {
  .boxes {
    padding: 0.5rem 0; /* Further reduced padding for very small screens */
  }

  .box {
    padding: 15px; /* Reduced padding for very small screens */
  }

  .box h3 {
    font-size: 1rem; /* Smaller font size for very small screens */
  }

  .box p {
    font-size: 0.8rem; /* Smaller font size for very small screens */
  }
}